{% extends 'layout.html' %}
{% load static %}

{% block contenido %}
<div class="container text-center">
    <div class="card mt-5 mb-5">
        <div class='card-body'>
            <p class="h5 mb-3 mt-3">{{ DESCRIPCION_SITIO }}</p>
           <!-- <img src="{% static '/img/almacen.png' %}" width="60" class="mb-2" > --> 
        </div>
    </div>
</div>
<div class="container">
    <div class="row align-items-start">
        <div class="col-md-2 text-center">
            <card class="card" style="width: 13rem;">
                <div class="card-body">
                    <h5 class="card-title">Ventas</h5>
                    <!-- <p class="card-text">Gestionar Facturación.</p> -->
                    <a href="#" class="btn btn-primary">Gestionar</a>
                </div>
            </card>
        </div>
        
        <div class="col-md-2 text-center">
                <card class="card"  style="width: 13rem;">
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <!-- <p class="card-text">Gestionar Clientes.</p> -->
                    <a href="#" class="btn btn-primary">Gestionar</a>
                </div>
            </card>
        </div>
        <div class="col-md-2 text-center">
            <card class="card" style="width: 13rem;">
                <div class="card-body">
                    <h5 class="card-title">Productos</h5>
                    <!-- <p class="card-text">Gestionar Productos.</p> -->
                    <a href="#" class="btn btn-primary">Gestionar</a>
                </div>
            </card>
        </div>
        
        <div class="col-md-2 text-center">
                <card class="card"  style="width: 13rem;">
                <div class="card-body">
                    <h5 class="card-title">Proveedores</h5>
                    <!-- <p class="card-text">Gestionar Proveedores.</p> -->
                    <a href="{% url 'proveedores:index' %}" class="btn btn-primary">Gestionar</a>
                </div>
            </card>
        </div>
        <div class="col-md-2 text-center">
                <card class="card"  style="width: 13rem;">
                <div class="card-body">
                    <h5 class="card-title">Bancos</h5>
                    <!-- <p class="card-text">Gestionar Bancos.</p> -->
                    <a href="#" class="btn btn-primary">Gestionar</a>
                </div>
            </card>
        </div>
        
    </div>

</div>

{% endblock %}
{% block js %}
{% endblock %}